@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
.container{
    border-radius: 15px;
	padding: 30px 30px 10px;
	background-color: #eee;
	text-align: center;
    margin: 2% 5% 0%;
}
.title1, .subHead, .title2, .introPara{
    text-align: center;
}
.title1{
    font-size: 70px;
}
.subHead{
    margin-top: -50px;
}
.subLine{
    margin-top: 8px;
    padding-bottom: 8px;
}
.introPara{
    text-align: left !important;
}
.section1{
    align-items: center;
    width: 1000px;
    margin:0 auto;
    border-radius: 15px;
	padding: 10px;
    padding: 2% 5% 0%;
	background-color: #ccc;
	text-align: center;
	color: #222;
}
.img1{
    width: 1000px;
    height: 500px;
    margin:0 auto;
    border-radius: 15px;
}
.section2{
    background-color: #A0CAD1;
    width: 1000px;
    margin:0 auto;
    border-radius: 15px;
	padding: 10px;
}
.lastLine{
    text-align: center;
}
.list{
    padding: 0 20vw;
	text-align: left;
	color: #000;
	font-size: 20px;
    list-style: none;
}
.quote{
    padding: 0;
	margin: 0;
}